
body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-end;
    background-image: url('./images/img2.jpg');
    background-attachment: fixed;
    background-size: contain;
    color: white;
}
#container {
    text-align: center;
}
.star {
    color: yellow;
    font-size:40px;
}
.level {
    color: green;
    font-size: 60px;
}
.root {
    background-color: brown;
    font-size: 30px;
    width:25px;
    height: 50px;
    margin: 0 auto;
}
.yellow{
    color:yellow;
}
.red{
    color:red;
}
.purple{
    color:purple;
}