
body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    color: white;
}
#container {
    text-align: center;
}
.star {
    color: yellow;
    font-size:80px;
}
.level {
    color: green;
    font-size: 60px;
}
.root {
    background-color: brown;
    font-size: 30px;
    width:90px;
    height: 50px;
    margin: 0 auto;
}
.yellow{
    color:yellow;
}
.red{
    color:red;
}
.purple{
    color:purple;
}
.silver{
    color:silver;
}
.pink{
    color:pink;
}
.blue{
    color:blue;
}
.gold{
    color:gold;
}